Repository giwankim/ps: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless, ktlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: spotless
        name: spotless check
        language: system
        entry: ./gradlew spotlessCheck
        pass_filenames: false
        files: '\.java$'
      - id: ktlint
        name: ktlint check
        language: system
        entry: ./gradlew ktlintCheck
        pass_filenames: false
        files: '\.kts?$'

refactor(leetcode): simplify Insert Interval to linear three-pass scan
  leetcode/src/main/java/com/giwankim/leetcode/InsertInterval.java
Due: spotless

feat(leetcode): add Add Binary solution and tests
  leetcode/src/main/java/com/giwankim/leetcode/AddBinary.java
  leetcode/src/test/java/com/giwankim/leetcode/AddBinaryTest.java
Due: spotless

refactor(leetcode): rewrite reverse bits implementation and refresh tests
  leetcode/src/main/java/com/giwankim/leetcode/ReverseBits.java
  leetcode/src/test/java/com/giwankim/leetcode/ReverseBitsTest.java
Due: spotless

style(leetcode): clean up NumberOf1Bits implementation and test setup
  leetcode/src/main/java/com/giwankim/leetcode/NumberOf1Bits.java
  leetcode/src/test/java/com/giwankim/leetcode/NumberOf1BitsTest.java
Due: spotless

refactor(leetcode): clean up Valid Parentheses solution and simplify tests
  leetcode/src/main/java/com/giwankim/leetcode/ValidParentheses.java
  leetcode/src/test/java/com/giwankim/leetcode/ValidParenthesesTest.java
Due: spotless

Implement LinkedListCycle and simplify cycle tests
  leetcode/src/main/java/com/giwankim/leetcode/LinkedListCycle.java
  leetcode/src/test/java/com/giwankim/leetcode/LinkedListCycleTest.java
Due: spotless

Add EvaluateReversePolishNotation solution and tests
  leetcode/src/main/java/com/giwankim/leetcode/EvaluateReversePolishNotation.java
  leetcode/src/test/java/com/giwankim/leetcode/EvaluateReversePolishNotationTest.java
Due: spotless

Add AddTwoNumbers solution and tests
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/AddTwoNumbers.java
  leetcode/src/test/java/com/giwankim/leetcode/AddTwoNumbersTest.java
Due: spotless

refactor(leetcode): clean up MergeTwoSortedLists and test setup
  leetcode/src/main/java/com/giwankim/leetcode/MergeTwoSortedLists.java
  leetcode/src/test/java/com/giwankim/leetcode/MergeTwoSortedListsTest.java
Due: spotless

Add MinStack solution and tests
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/MinStack.java
  leetcode/src/test/java/com/giwankim/leetcode/MinStackTest.java
Due: spotless

refactor(leetcode): streamline simplify path solution
  leetcode/src/main/java/com/giwankim/leetcode/SimplifyPath.java
  leetcode/src/test/java/com/giwankim/leetcode/SimplifyPathTest.java
Due: spotless

build(gradle): upgrade wrapper to 9.4.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

build(deps): update kotlin and test libraries
  .idea/kotlinc.xml
  gradle/libs.versions.toml
Due: none

docs(plans): add boj subproject design
  docs/plans/2026-03-11-boj-subproject-design.md
Due: none

chore(git): ignore local worktrees
  .gitignore
Due: none

build(boj): add Gradle subproject
  boj/build.gradle.kts
  settings.gradle.kts
Due: ktlint

refactor(boj): move BOJ sources to subproject
  boj/src/main/java/boj/boj10699/Main.java
  boj/src/main/java/boj/boj15552/Main.java
  boj/src/main/java/boj/boj2557/Main.java
Due: spotless

test(boj): move BOJ tests to subproject
  boj/src/test/java/boj/boj10699/MainTest.java
  boj/src/test/java/boj/boj15552/MainTest.java
  boj/src/test/java/boj/boj2557/MainTest.java
Due: spotless

chore(leetcode): remove failing problem files
  leetcode/src/main/java/com/giwankim/leetcode/FindLatestGroupOfSizeM.java
  leetcode/src/main/java/com/giwankim/leetcode/RotatingTheBox.java
  leetcode/src/test/java/com/giwankim/leetcode/FindLatestGroupOfSizeMTest.java
  leetcode/src/test/java/com/giwankim/leetcode/RotatingTheBoxTest.java
Due: spotless

docs(boj): add BOJ subproject migration plan
  docs/plans/2026-03-11-boj-subproject.md
Due: none

build: replace pre-commit framework with plain git hook
  .githooks/pre-commit
  .idea/gradle.xml
  .pre-commit-config.yaml
  README.md
Due: none

build: bump lombok from 1.18.42 to 1.18.44
  gradle/libs.versions.toml
Due: none

build(company): add Gradle subproject
  .idea/gradle.xml
  company/build.gradle.kts
  settings.gradle.kts
Due: ktlint

refactor(company): move company sources to subproject
  company/src/main/java/com/giwankim/apple/LongestUniqueSubstringSet.java
  company/src/main/java/com/giwankim/autoever/Teamwork.java
  company/src/main/java/com/giwankim/google/PlantFlowers.java
  company/src/main/java/com/giwankim/meta/OnesInTheRange.java
  company/src/main/java/com/giwankim/naver/점수_옮기기.java
Due: spotless

test(company): move company tests to subproject
  company/src/test/java/com/giwankim/apple/LongestUniqueSubstringSetTest.java
  company/src/test/java/com/giwankim/autoever/TeamworkTest.java
  company/src/test/java/com/giwankim/google/PlantFlowersTest.java
  company/src/test/java/com/giwankim/meta/OnesInTheRangeTest.java
  company/src/test/java/com/giwankim/naver/점수_옮기기Test.java
Due: spotless

feat(leetcode): add Minimum Number of Arrows to Burst Balloons
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/MinimumNumberOfArrowsToBurstBalloons.java
  leetcode/src/test/java/com/giwankim/leetcode/MinimumNumberOfArrowsToBurstBalloonsTest.java
Due: spotless

feat(leetcode): add Copy List with Random Pointer
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/CopyListWithRandomPointer.java
  leetcode/src/test/java/com/giwankim/leetcode/CopyListWithRandomPointerTest.java
Due: spotless

refactor(leetcode): simplify Copy List with Random Pointer
  leetcode/src/main/java/com/giwankim/leetcode/CopyListWithRandomPointer.java
Due: spotless

refactor(leetcode): clean up TreeNode with Lombok and rename from() to of()
  leetcode/src/main/java/com/giwankim/leetcode/support/TreeNode.java
  leetcode/src/test/java/com/giwankim/leetcode/BinaryTreeInorderTraversalTest.java
  leetcode/src/test/java/com/giwankim/leetcode/BinaryTreeLevelOrderTraversalTest.java
  leetcode/src/test/java/com/giwankim/leetcode/BinaryTreePathsTest.java
  leetcode/src/test/java/com/giwankim/leetcode/BinaryTreeRightSideViewTest.java
  leetcode/src/test/java/com/giwankim/leetcode/InvertBinaryTreeTest.java
  leetcode/src/test/java/com/giwankim/leetcode/LowestCommonAncestorOfBinaryTreeTest.java
  leetcode/src/test/java/com/giwankim/leetcode/MaximumDepthBinaryTreeTest.java
  leetcode/src/test/java/com/giwankim/leetcode/RangeSumOfBSTTest.java
  leetcode/src/test/java/com/giwankim/leetcode/SameTreeTest.java
  leetcode/src/test/java/com/giwankim/leetcode/SerializeDeserializeBinaryTreeTest.java
  leetcode/src/test/java/com/giwankim/leetcode/SubtreeOfAnotherTreeTest.java
  leetcode/src/test/java/com/giwankim/leetcode/ValidateBinarySearchTreeTest.java
  leetcode/src/test/java/com/giwankim/leetcode/support/TreeNodeTest.java
Due: spotless

refactor(leetcode): improve Invert Binary Tree tests and add complexity comment
  leetcode/src/main/java/com/giwankim/leetcode/InvertBinaryTree.java
  leetcode/src/test/java/com/giwankim/leetcode/InvertBinaryTreeTest.java
Due: spotless

feat(leetcode): add iterative BFS solution for Invert Binary Tree
  leetcode/src/main/java/com/giwankim/leetcode/InvertBinaryTree.java
  leetcode/src/test/java/com/giwankim/leetcode/InvertBinaryTreeTest.java
Due: spotless

feat(leetcode): add Basic Calculator
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/BasicCalculator.java
  leetcode/src/test/java/com/giwankim/leetcode/BasicCalculatorTest.java
Due: spotless

refactor(leetcode): rename MaximumDepthBinaryTree to MaximumDepthOfBinaryTree
  leetcode/src/main/java/com/giwankim/leetcode/MaximumDepthBinaryTree.java
  leetcode/src/main/java/com/giwankim/leetcode/MaximumDepthOfBinaryTree.java
  leetcode/src/test/java/com/giwankim/leetcode/MaximumDepthBinaryTreeTest.java
  leetcode/src/test/java/com/giwankim/leetcode/MaximumDepthOfBinaryTreeTest.java
Due: spotless

feat(leetcode): add Partition List
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/PartitionList.java
  leetcode/src/main/java/com/giwankim/leetcode/support/ListNode.java
  leetcode/src/test/java/com/giwankim/leetcode/PartitionListTest.java
Due: spotless

refactor(leetcode): improve Same Tree tests and add complexity comment
  leetcode/src/main/java/com/giwankim/leetcode/SameTree.java
  leetcode/src/test/java/com/giwankim/leetcode/SameTreeTest.java
Due: spotless

feat(leetcode): add Remove Duplicates from Sorted List II
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/RemoveDuplicatesFromSortedListII.java
  leetcode/src/test/java/com/giwankim/leetcode/RemoveDuplicatesFromSortedListIITest.java
Due: spotless

refactor(leetcode): improve Remove Duplicates from Sorted List II
  leetcode/src/main/java/com/giwankim/leetcode/RemoveDuplicatesFromSortedListII.java
  leetcode/src/test/java/com/giwankim/leetcode/RemoveDuplicatesFromSortedListIITest.java
Due: spotless

refactor(leetcode): rename and improve Remove Nth Node From End of List
  leetcode/src/main/java/com/giwankim/leetcode/RemoveNthFromEnd.java
  leetcode/src/main/java/com/giwankim/leetcode/RemoveNthFromEndOfList.java
  leetcode/src/test/java/com/giwankim/leetcode/RemoveNthFromEndOfListTest.java
  leetcode/src/test/java/com/giwankim/leetcode/RemoveNthFromEndTest.java
Due: spotless

refactor(leetcode): improve LRU Cache using removeEldestEntry
  leetcode/src/main/java/com/giwankim/leetcode/LRUCache.java
  leetcode/src/test/java/com/giwankim/leetcode/LRUCacheTest.java
Due: spotless

feat(leetcode): add Rotate List
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/RotateList.java
  leetcode/src/test/java/com/giwankim/leetcode/RotateListTest.java
Due: spotless
