Repository giwankim/ps: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless, ktlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: spotless
        name: spotless check
        language: system
        entry: ./gradlew spotlessCheck
        pass_filenames: false
        files: '\.java$'
      - id: ktlint
        name: ktlint check
        language: system
        entry: ./gradlew ktlintCheck
        pass_filenames: false
        files: '\.kts?$'

feat(leetcode): solve 3090 maximum length substring with two occurrences with a sliding window
  README.md
  leetcode/src/main/java/leetcode/MaximumLengthSubstringWithTwoOccurrences.java
  leetcode/src/test/java/leetcode/MaximumLengthSubstringWithTwoOccurrencesTest.java
Due: spotless

test(leetcode): rewrite longest substring specs as named cases and relax a timeout
  leetcode/src/test/java/leetcode/FindTheLexicographicallySmallestValidSequenceTest.java
  leetcode/src/test/java/leetcode/LongestSubstringWithoutRepeatingCharactersTest.java
Due: spotless

test(algospot): rebuild the specs as TDD ladders and memoize boggle
  algospot/src/main/java/algospot/boggle/Main.java
  algospot/src/test/java/algospot/boggle/BoggleTest.java
  algospot/src/test/java/algospot/festival/FestivalTest.java
  algospot/src/test/java/algospot/helloworld/HelloWorldTest.java
  algospot/src/test/java/algospot/jumpgame/JumpGameTest.java
  algospot/src/test/java/algospot/packing/PackingContract.java
  algospot/src/test/java/algospot/packing/PackingRecursiveTest.java
  algospot/src/test/java/algospot/packing/PackingTest.java
Due: spotless

feat(leetcode): solve 3702 longest subsequence with non-zero bitwise xor
  README.md
  leetcode/src/main/java/leetcode/LongestSubsequenceWithNonZeroBitwiseXOR.java
  leetcode/src/test/java/leetcode/LongestSubsequenceWithNonZeroBitwiseXORTest.java
Due: spotless

feat(boj): archive problem statements from a local blj catalog
  .gitignore
  AGENTS.md
  boj/tools/archive_problems.py
  boj/tools/archive_problems_test.py
  docs/boj-problem-archive.md
Due: none

feat(programmers): solve 12932 자연수 뒤집어 배열로 만들기
  README.md
  programmers/src/main/java/programmers/자연수_뒤집어_배열로_만들기.java
  programmers/src/test/java/programmers/자연수_뒤집어_배열로_만들기Test.java
Due: spotless

feat(programmers): solve 42889 실패율
  README.md
  programmers/src/main/java/programmers/실패율.java
  programmers/src/test/java/programmers/실패율Test.java
Due: spotless

build(gradle): upgrade wrapper to 9.7.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

feat(programmers): solve 17682 다트 게임
  README.md
  programmers/src/main/java/programmers/다트_게임.java
  programmers/src/test/java/programmers/다트_게임Test.java
Due: spotless

docs(cpp): design a parallel C++ competitive-programming track
  docs/superpowers/specs/2026-08-16-cpp-track-design.md
Due: none

build(atcoder): register the atcoder Gradle module
  .idea/gradle.xml
  README.md
  atcoder/build.gradle.kts
  atcoder/src/main/java/atcoder/support/FastIO.java
  settings.gradle.kts
Due: spotless, ktlint

docs(cpp): justify the .hpp extension for function-signature solutions
  docs/superpowers/specs/2026-08-16-cpp-track-design.md
Due: none

docs(cpp): target C++23 via a PS_STD cache variable
  docs/superpowers/specs/2026-08-16-cpp-track-design.md
Due: none

docs(cpp): specify the pre-commit extension and seed BOJ + AtCoder
  docs/superpowers/specs/2026-08-16-cpp-track-design.md
Due: none

docs(cpp): defer the GoogleTest half until the first function-signature problem
  docs/superpowers/specs/2026-08-16-cpp-track-design.md
Due: none

docs(cpp): plan the C++ track implementation
  docs/superpowers/plans/2026-08-16-cpp-track.md
Due: none

feat(atcoder): solve ABC 471 B with a case-folded tally
  README.md
  atcoder/src/main/java/atcoder/abc471/b/Main.java
  atcoder/src/test/java/atcoder/abc471/b/MainTest.java
Due: spotless

feat(atcoder): solve ABC 471 A with an exact-division nine check
  atcoder/src/main/java/atcoder/abc471/a/Main.java
  atcoder/src/main/java/atcoder/support/FastIO.java
  atcoder/src/test/java/atcoder/abc471/a/MainTest.java
Due: spotless

docs(cpp): amend the plan for worktree hooksPath and toolchain rulings
  docs/superpowers/plans/2026-08-16-cpp-track.md
Due: none

build(cpp): bootstrap the C++ track with CMake presets
  .gitignore
  cpp/CMakeLists.txt
  cpp/CMakePresets.json
Due: none

feat(cpp): discover solutions by glob and solve boj 1000
  cpp/CMakeLists.txt
  cpp/boj/1000.cpp
Due: none

feat(cpp): run sample data through CTest with RunCase.cmake
  cpp/CMakeLists.txt
  cpp/boj/tests/1000/max-single-digits.in
  cpp/boj/tests/1000/max-single-digits.out
  cpp/boj/tests/1000/min-boundary.in
  cpp/boj/tests/1000/min-boundary.out
  cpp/boj/tests/1000/small-digits.in
  cpp/boj/tests/1000/small-digits.out
  cpp/cmake/RunCase.cmake
  docs/superpowers/specs/2026-08-16-cpp-track-design.md
Due: none

docs(cpp): rebuild after restoring sabotaged sources in the plan's verification steps
  docs/superpowers/plans/2026-08-16-cpp-track.md
Due: none

feat(cpp): fail fast on orphan .in files and warn on missing test data
  cpp/CMakeLists.txt
Due: none

feat(cpp): scope configuration with PS_SCOPE and solve boj 2557
  cpp/CMakeLists.txt
  cpp/boj/2557.cpp
  cpp/boj/tests/2557/hello.in
  cpp/boj/tests/2557/hello.out
Due: none

fix(cpp): compare PS_SCOPE with STREQUAL instead of interpolating into MATCHES
  cpp/CMakeLists.txt
Due: none

fix(cpp): reject malformed PS_SCOPE and avoid implicit boolean truthiness
  cpp/CMakeLists.txt
Due: none

docs(cpp): specify regex-free, validated PS_SCOPE matching in the plan
  docs/superpowers/plans/2026-08-16-cpp-track.md
Due: none

feat(cpp): seed the atcoder judge with abc471 a
  cpp/atcoder/abc471_a.cpp
  cpp/atcoder/tests/abc471_a/difference-at-ceiling.in
  cpp/atcoder/tests/abc471_a/difference-at-ceiling.out
  cpp/atcoder/tests/abc471_a/inexact-quotient-no-match.in
  cpp/atcoder/tests/abc471_a/inexact-quotient-no-match.out
  cpp/atcoder/tests/abc471_a/largest-operands.in
  cpp/atcoder/tests/abc471_a/largest-operands.out
  cpp/atcoder/tests/abc471_a/negative-difference-no-match.in
  cpp/atcoder/tests/abc471_a/negative-difference-no-match.out
  cpp/atcoder/tests/abc471_a/product-alone.in
  cpp/atcoder/tests/abc471_a/product-alone.out
  cpp/atcoder/tests/abc471_a/quotient-alone.in
  cpp/atcoder/tests/abc471_a/quotient-alone.out
  cpp/atcoder/tests/abc471_a/sample-1.in
  cpp/atcoder/tests/abc471_a/sample-1.out
  cpp/atcoder/tests/abc471_a/sample-2.in
  cpp/atcoder/tests/abc471_a/sample-2.out
  cpp/atcoder/tests/abc471_a/sample-3.in
  cpp/atcoder/tests/abc471_a/sample-3.out
  cpp/atcoder/tests/abc471_a/sample-4.in
  cpp/atcoder/tests/abc471_a/sample-4.out
  cpp/atcoder/tests/abc471_a/sum-alone.in
  cpp/atcoder/tests/abc471_a/sum-alone.out
  cpp/atcoder/tests/abc471_a/sum-with-negative-difference.in
  cpp/atcoder/tests/abc471_a/sum-with-negative-difference.out
Due: none

feat(atcoder): solve ABC 471 C with a TreeSet neighbor walk
  README.md
  atcoder/src/main/java/atcoder/abc471/c/Main.java
  atcoder/src/test/java/atcoder/abc471/c/MainTest.java
Due: spotless

style(cpp): add clang-format config and format the seed solutions
  cpp/.clang-format
Due: none

docs(cpp): keep the hook suite's fake tools out of reach of the stash
  docs/superpowers/plans/2026-08-16-cpp-track.md
Due: none

build(cpp): lint staged C++ with clang-format in the pre-commit hook
  .githooks/pre-commit
  .githooks/pre-commit.test.sh
Due: none

build(cpp): harden pre-commit hook tests for C++ lint dispatch
  .githooks/pre-commit
  .githooks/pre-commit.test.sh
Due: none

docs(cpp): fold the last stale hook comment into task 10
  docs/superpowers/plans/2026-08-16-cpp-track.md
Due: none

docs(cpp): renumber task 10 steps after inserting the comment fix
  docs/superpowers/plans/2026-08-16-cpp-track.md
Due: none

docs(cpp): document the C++ track and index its solutions
  .githooks/pre-commit
  AGENTS.md
  README.md
  cpp/README.md
  docs/cpp-track.md
Due: none

docs(cpp): correct the plan's verification summary to T1-T19
  docs/superpowers/plans/2026-08-16-cpp-track.md
Due: none

fix(cpp): close the zero-test PS_SCOPE gap and fill final-review doc gaps
  cpp/CMakeLists.txt
  cpp/CMakePresets.json
  docs/cpp-track.md
  docs/superpowers/plans/2026-08-16-cpp-track.md
Due: none
