Repository giwankim/ps: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless, ktlint

spotless:
  name: spotless check
  language: system
  entry: ./gradlew spotlessCheck
  pass_filenames: false

ktlint:
  name: ktlint check
  language: system
  entry: ./gradlew ktlintCheck
  pass_filenames: false

style(leetcode): reflow @implNote javadoc to single-line continuation
  leetcode/src/main/java/com/giwankim/leetcode/EvaluateDivision.java
  leetcode/src/main/java/com/giwankim/leetcode/TextJustification.java
  leetcode/src/main/java/com/giwankim/leetcode/WordLadder.java
Due: spotless

refactor(build): hoist LibrariesForLibs into an explicit import
  buildSrc/src/main/kotlin/ps.java-conventions.gradle.kts
Due: ktlint

docs(leetcode): document @implNote complexities for trie and search solutions
  leetcode/src/main/java/com/giwankim/leetcode/ImplementTrie.java
  leetcode/src/main/java/com/giwankim/leetcode/MinimumGeneticMutation.java
  leetcode/src/main/java/com/giwankim/leetcode/WordSearchII.java
Due: spotless

refactor(leetcode): swap WordSearch visited array for in-place sentinel
  leetcode/src/main/java/com/giwankim/leetcode/WordSearch.java
  leetcode/src/test/java/com/giwankim/leetcode/WordSearchTest.java
Due: spotless

feat(leetcode): add Sort List
  leetcode/src/main/java/com/giwankim/leetcode/SortList.java
  leetcode/src/test/java/com/giwankim/leetcode/SortListTest.java
Due: spotless

docs: add Sort List to LeetCode index
  README.md
Due: none

refactor(leetcode): restructure CombinationSum and rewrite its tests
  leetcode/src/main/java/com/giwankim/leetcode/CombinationSum.java
  leetcode/src/test/java/com/giwankim/leetcode/CombinationSumTest.java
Due: spotless

refactor(leetcode): restructure MergeKSortedList and rewrite its tests
  leetcode/src/main/java/com/giwankim/leetcode/MergeKSortedList.java
  leetcode/src/test/java/com/giwankim/leetcode/MergeKSortedListTest.java
Due: spotless

refactor(leetcode): restructure NQueens and rewrite its tests
  leetcode/src/main/java/com/giwankim/leetcode/NQueens.java
  leetcode/src/test/java/com/giwankim/leetcode/NQueensTest.java
Due: spotless

feat(leetcode): add N-Queens II
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/NQueensII.java
  leetcode/src/test/java/com/giwankim/leetcode/NQueensIITest.java
Due: spotless

feat(leetcode): add Construct Quad Tree
  leetcode/src/main/java/com/giwankim/leetcode/ConstructQuadTree.java
  leetcode/src/test/java/com/giwankim/leetcode/ConstructQuadTreeTest.java
Due: spotless

refactor(leetcode): restructure GenerateParentheses and polish surrounding Javadocs
  leetcode/src/main/java/com/giwankim/leetcode/ConvertSortedArrayToBinarySearchTree.java
  leetcode/src/main/java/com/giwankim/leetcode/GenerateParentheses.java
  leetcode/src/main/java/com/giwankim/leetcode/MergeKSortedList.java
  leetcode/src/main/java/com/giwankim/leetcode/SortList.java
  leetcode/src/test/java/com/giwankim/leetcode/GenerateParenthesesTest.java
  leetcode/src/test/java/com/giwankim/leetcode/NQueensTest.java
Due: spotless

docs(leetcode): expand LetterCombinationsOfAPhoneNumber complexity Javadoc
  leetcode/src/main/java/com/giwankim/leetcode/LetterCombinationsOfAPhoneNumber.java
Due: spotless

feat(leetcode): add maximum subarray
  leetcode/src/main/java/com/giwankim/leetcode/MaximumSubarray.java
  leetcode/src/test/java/com/giwankim/leetcode/MaximumSubarrayTest.java
Due: spotless

refactor(leetcode): restructure MaximumSubarray and expand its javadoc
  leetcode/src/main/java/com/giwankim/leetcode/MaximumSubarray.java
Due: spotless

chore(toolchain): bump java to 26.0.1, gradle to 9.5.0, kotlin to 2.3.21
  .idea/kotlinc.xml
  .sdkmanrc
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

chore(spotless): extend java conventions with import order and whitespace defaults
  buildSrc/src/main/kotlin/ps.spotless-conventions.gradle.kts
Due: ktlint

feat(leetcode): add search insert position
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/SearchInsertPosition.java
  leetcode/src/test/java/com/giwankim/leetcode/SearchInsertPositionTest.java
Due: spotless

refactor(leetcode): restructure SingleNumber tests and document complexity
  leetcode/src/main/java/com/giwankim/leetcode/SingleNumber.java
  leetcode/src/test/java/com/giwankim/leetcode/SingleNumberTest.java
Due: spotless

feat(leetcode): add find k pairs with smallest sums
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/FindKPairsWithSmallestSums.java
  leetcode/src/test/java/com/giwankim/leetcode/FindKPairsWithSmallestSumsTest.java
Due: spotless

refactor(leetcode): simplify k smallest pairs with row-seeded heap
  leetcode/src/main/java/com/giwankim/leetcode/FindKPairsWithSmallestSums.java
  leetcode/src/test/java/com/giwankim/leetcode/FindKPairsWithSmallestSumsTest.java
Due: spotless

refactor(leetcode): simplify combinations backtracking
  leetcode/src/main/java/com/giwankim/leetcode/Combinations.java
  leetcode/src/test/java/com/giwankim/leetcode/CombinationsTest.java
Due: spotless

feat(leetcode): add non-mutating permutations variant
  leetcode/src/main/java/com/giwankim/leetcode/Permutations.java
  leetcode/src/test/java/com/giwankim/leetcode/PermutationsTest.java
Due: spotless

chore(idea): bump project JDK to 26
  .idea/misc.xml
Due: none

docs(leetcode): restructure SortList complexity analysis
  leetcode/src/main/java/com/giwankim/leetcode/SortList.java
Due: spotless

chore(gitignore): ignore local omx runtime state
  .gitignore
Due: none

feat(leetcode): add bitmask-style total-n-queens variant
  leetcode/src/main/java/com/giwankim/leetcode/NQueensII.java
  leetcode/src/test/java/com/giwankim/leetcode/NQueensIITest.java
Due: spotless

docs(leetcode): trim sortedArrayToBST complexity javadoc
  leetcode/src/main/java/com/giwankim/leetcode/ConvertSortedArrayToBinarySearchTree.java
Due: spotless

docs(leetcode): expand WordSearch complexity analysis
  leetcode/src/main/java/com/giwankim/leetcode/WordSearch.java
Due: spotless

refactor(leetcode): tighten null guard in mergeKLists seeding loop
  leetcode/src/main/java/com/giwankim/leetcode/MergeKSortedList.java
Due: spotless

feat(leetcode): add divide-and-conquer maxSubArray variant
  leetcode/src/main/java/com/giwankim/leetcode/MaximumSubarray.java
  leetcode/src/test/java/com/giwankim/leetcode/MaximumSubarrayTest.java
Due: spotless

chore(idea): pin language level to JDK 25 and tidy SDK reference
  .idea/misc.xml
Due: none

feat(leetcode): add maximum sum circular subarray solution
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/MaximumSumCircularSubarray.java
  leetcode/src/test/java/com/giwankim/leetcode/MaximumSumCircularSubarrayTest.java
Due: spotless

feat(leetcode): add plus-one carry coverage
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/PlusOne.java
  leetcode/src/test/java/com/giwankim/leetcode/PlusOneTest.java
Due: spotless

chore(idea): untrack user-local plugin state
  .gitignore
  .idea/aws.xml
  .idea/copilot.data.migration.agent.xml
  .idea/copilot.data.migration.ask.xml
  .idea/copilot.data.migration.ask2agent.xml
  .idea/copilot.data.migration.edit.xml
  .idea/misc.xml
Due: none

refactor(leetcode): clarify climbing stairs recurrence
  leetcode/src/main/java/com/giwankim/leetcode/ClimbingStairs.java
  leetcode/src/test/java/com/giwankim/leetcode/ClimbingStairsTest.java
Due: spotless

feat(leetcode): cover house robber recurrence tradeoffs
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/HouseRobber.java
  leetcode/src/test/java/com/giwankim/leetcode/HouseRobberTest.java
Due: spotless

style(leetcode): wrap plus-one max-length test comment
  leetcode/src/test/java/com/giwankim/leetcode/PlusOneTest.java
Due: spotless

feat(leetcode): add first bad version binary search
  leetcode/src/main/java/com/giwankim/leetcode/FirstBadVersion.java
  leetcode/src/test/java/com/giwankim/leetcode/FirstBadVersionTest.java
Due: spotless

Path conditions:
  spotless: any of: \.java$
  ktlint: any of: \.kts?$
