Repository giwankim/ps: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless, ktlint

spotless:
  name: spotless check
  language: system
  entry: ./gradlew spotlessCheck
  pass_filenames: false

ktlint:
  name: ktlint check
  language: system
  entry: ./gradlew ktlintCheck
  pass_filenames: false

refactor(leetcode): rewrite Clone Graph tests and simplify Node helper
  leetcode/src/main/java/com/giwankim/leetcode/CloneGraph.java
  leetcode/src/main/java/com/giwankim/leetcode/support/Node.java
  leetcode/src/test/java/com/giwankim/leetcode/CloneGraphTest.java
Due: spotless

refactor(leetcode): clean up Course Schedule and add TDD-style tests
  leetcode/src/main/java/com/giwankim/leetcode/CourseSchedule.java
  leetcode/src/test/java/com/giwankim/leetcode/CourseScheduleTest.java
Due: spotless

feat(leetcode): add Course Schedule II
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/CourseScheduleII.java
  leetcode/src/test/java/com/giwankim/leetcode/CourseScheduleIITest.java
Due: spotless

docs(leetcode): add complexity comment to Course Schedule
  leetcode/src/main/java/com/giwankim/leetcode/CourseSchedule.java
Due: spotless

feat(leetcode): add Evaluate Division
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/EvaluateDivision.java
  leetcode/src/test/java/com/giwankim/leetcode/EvaluateDivisionTest.java
Due: spotless

feat(leetcode): add DFS variant for Evaluate Division
  leetcode/src/main/java/com/giwankim/leetcode/EvaluateDivision.java
  leetcode/src/test/java/com/giwankim/leetcode/EvaluateDivisionTest.java
Due: spotless

style(leetcode): drop stray blank lines in graph traversal solutions
  leetcode/src/main/java/com/giwankim/leetcode/CourseSchedule.java
  leetcode/src/main/java/com/giwankim/leetcode/CourseScheduleII.java
  leetcode/src/main/java/com/giwankim/leetcode/MinimumGeneticMutation.java
Due: spotless

refactor(leetcode): tidy Evaluate Division and annotate complexity
  leetcode/src/main/java/com/giwankim/leetcode/EvaluateDivision.java
Due: spotless

refactor(leetcode): restructure Trie as ImplementTrie with richer tests
  leetcode/src/main/java/com/giwankim/leetcode/ImplementTrie.java
  leetcode/src/main/java/com/giwankim/leetcode/Trie.java
  leetcode/src/test/java/com/giwankim/leetcode/ImplementTrieTest.java
  leetcode/src/test/java/com/giwankim/leetcode/TrieTest.java
Due: spotless

feat(leetcode): add Word Ladder
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/WordLadder.java
  leetcode/src/test/java/com/giwankim/leetcode/WordLadderTest.java
Due: spotless

docs(leetcode): add complexity comments to Implement Trie
  leetcode/src/main/java/com/giwankim/leetcode/ImplementTrie.java
Due: spotless

feat(leetcode): add Snakes and Ladders
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/SnakesAndLadders.java
  leetcode/src/test/java/com/giwankim/leetcode/SnakesAndLaddersTest.java
Due: spotless

feat(leetcode): add alternative BFS solution for Snakes and Ladders
  leetcode/src/main/java/com/giwankim/leetcode/SnakesAndLadders.java
  leetcode/src/test/java/com/giwankim/leetcode/SnakesAndLaddersTest.java
Due: spotless

build(gradle): switch to interactive version catalog workflow
  .idea/kotlinc.xml
  README.md
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/ps.version-catalog-conventions.gradle.kts
  gradle/libs.versions.toml
Due: ktlint

docs(leetcode): add complexity Javadoc to Word Ladder
  leetcode/src/main/java/com/giwankim/leetcode/WordLadder.java
Due: spotless

feat(leetcode): add Design Add and Search Words Data Structure
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/DesignAddAndSearchWordsDataStructure.java
  leetcode/src/test/java/com/giwankim/leetcode/DesignAddAndSearchWordsDataStructureTest.java
Due: spotless

feat(leetcode): add Word Search II
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/WordSearchII.java
  leetcode/src/test/java/com/giwankim/leetcode/WordSearchIITest.java
Due: spotless

refactor(leetcode): tighten WordDictionary API
  leetcode/src/main/java/com/giwankim/leetcode/DesignAddAndSearchWordsDataStructure.java
Due: spotless

build(gitignore): ignore .firecrawl/
  .gitignore
Due: none

test(leetcode): rewrite LetterCombinationsOfAPhoneNumber tests as descriptive @Test methods
  leetcode/src/test/java/com/giwankim/leetcode/LetterCombinationsOfAPhoneNumberTest.java
Due: spotless

refactor(leetcode): clean up LetterCombinationsOfAPhoneNumber
  leetcode/src/main/java/com/giwankim/leetcode/LetterCombinationsOfAPhoneNumber.java
Due: spotless

build(cses): add Gradle subproject
  cses/build.gradle.kts
  settings.gradle.kts
Due: ktlint

refactor(cses): move CSES sources to subproject
  cses/src/main/java/cses/missing/number/MissingNumber.java
  cses/src/main/java/cses/sum/two/values/SumTwoValues.java
  cses/src/main/java/cses/weird/algorithm/WeirdAlgorithm.java
Due: spotless

build(codeforces): add Gradle subproject
  codeforces/build.gradle.kts
  settings.gradle.kts
Due: ktlint

refactor(codeforces): move Codeforces sources to subproject
  codeforces/src/main/java/codeforces/round839/div3/A.java
Due: spotless

test(codeforces): move Codeforces tests to subproject
  codeforces/src/test/java/codeforces/round839/div3/ATest.java
Due: spotless

build(misc): add Gradle subproject
  misc/build.gradle.kts
  settings.gradle.kts
Due: ktlint

refactor(misc): move misc sources to subproject
  misc/src/main/java/misc/CommitOffset.java
Due: spotless

test(misc): move misc tests to subproject
  misc/src/test/java/misc/CommitOffsetTest.java
Due: spotless

build(learn): add Gradle subproject
  learn/build.gradle.kts
  settings.gradle.kts
Due: ktlint

refactor(learn): move learn sources to subproject
  learn/src/main/java/learn/CapitalTour.java
  learn/src/main/java/learn/MissingNumber.java
  learn/src/main/java/learn/WalkAroundLake.java
  learn/src/main/java/learn/WhereIsTheKing.java
Due: spotless

test(learn): move learn tests to subproject
  learn/src/test/java/learn/CapitalTourTest.java
  learn/src/test/java/learn/MissingNumberTest.java
  learn/src/test/java/learn/WalkAroundLakeTest.java
  learn/src/test/java/learn/WhereIsTheKingTest.java
Due: spotless

chore: remove orphaned root src/ tree
  src/test/java/support/ResourceUtils.java
Due: spotless

build(idea): register codeforces, cses, learn, misc subprojects
  .idea/gradle.xml
Due: none

feat(leetcode): add Permutations
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/Permutations.java
  leetcode/src/test/java/com/giwankim/leetcode/PermutationsTest.java
Due: spotless

feat(leetcode): add Convert Sorted Array to Binary Search Tree
  README.md
  leetcode/src/main/java/com/giwankim/leetcode/ConvertSortedArrayToBinarySearchTree.java
  leetcode/src/test/java/com/giwankim/leetcode/ConvertSortedArrayToBinarySearchTreeTest.java
Due: spotless

build(spotless): pin google-java-format and enable toggleOffOn + formatAnnotations
  buildSrc/src/main/kotlin/ps.spotless-conventions.gradle.kts
  gradle/libs.versions.toml
Due: ktlint

perf(leetcode): swap stream snapshot for explicit array copy in Permutations
  leetcode/src/main/java/com/giwankim/leetcode/Permutations.java
Due: spotless

Path conditions:
  spotless: any of: \.java$
  ktlint: any of: \.kts?$
